/* Colors
    - dark green - 1C2A2C
    - footer dark - 24282B
    - font-family: 'Raleway', sans-serif;
    - 300 400 500 900 (normal and italic)
*/

/* ------------------CSS Reset ------------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------------Image Styles --------------------------------------*/
.bg-image{
    background-color:#1C2A2C;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* min-height: 10rem; */
}

/* ---------------- Background Images ------------------------------------ */

.bg-map         { background-image: url('/images/the-bunker-6.png')}
.bg-image-1     { background-image: url('/images/the-bunker-1.jpg')}
.bg-image-2     { background-image: url('/images/the-bunker-2.jpg')}
.bg-image-3     { background-image: url('/images/the-bunker-3.jpg')}
.bg-image-4     { background-image: url('/images/the-bunker-4.jpg')}
.bg-image-5     { background-image: url('/images/the-bunker-5.jpg')}
.bg-image-7     { background-image: url('/images/the-bunker-7.jpg')}

.bg-padded {padding-bottom: 30%}

.social-banner {background-position: 70% 17%;}

/* ------------------Universal Sytles & Utility Classes ------------------*/

.padded-5   {padding: 5%;}
.padded-10  {padding: 10%;}
.padded-sm  {padding: 1rem;}

.margin-b-0 {margin-bottom: 0;}

.bg-dark {
    background-color: #1C2A2C;
    color: white;}

.text-left      {text-align: left}
.text-center    {text-align: center;}
.text-right     {text-align: right;}

.tall-50    {min-height: 50vh;}
.tall-60    {min-height: 60vh;}
.tall-70    {min-height: 70vh;}
.tall-80    {min-height: 80vh;}
.tall-90    {min-height: 90vh;}
.tall-100   {min-height: 100vh;}

.light-text  {color: white;}
.small-text     {font-size: 1.5rem;}
.medium-text    {
    font-size: 2rem;
    line-height: 1.5;
}
.big-text       {font-size: 4.5rem;}

.subtle {
    opacity: 0.6;
    font-size: 0.9rem;
    font-style: italic;
}

.font-weight-normal     { font-weight: 400;}
.font-weight-light      {font-weight: 200;}
.font-weight-bold       {font-weight: 800;}



/* -------------------- Typography Styeles ------------------------------------------------ */
body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    color: #192B37;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

p, li {
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
}

h2 { 
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}

h3{
    font-size: 1.4rem
}

p { 
    line-height: 1.5;
}

p:last-child,
li:last-child { 
    margin-bottom: 0;
}

a {
    color: inherit;
}

nav a {
    text-decoration: none;
}

a:hover {
    color: #FFBE00;
}



/* --------------------------------- Header Styles ------------------------- */

header h1 { 
    font-size: 8rem;
}

/* --------------------- Icon Grid --------------------------------------------- */

.fab {
    /* display: block; */
    /* text-align: center; */
    /* margin-bottom: 1.5rem; */
    font-size: 1.6rem;
    padding-left: 1rem;
}

/* ------------------------------ Footer Styles ------------------------------------ */

.logo {
    font-size: 4.5rem;
    line-height: 1;
}

footer p {
    margin-bottom: 0.2rem;
}

/* ------------------------------- Responsive Styles ------------------------------- */

/* SM - max-width in pixels approximately 768px */
@media (max-width: 48em) {

    .hide-sm { display: none; }

    .flex-flip-sm { flex-direction: column-reverse; }

    h1 { font-size: 4rem; }

    footer h2 { font-size: 3rem; }

    .social-banner {
        background-image: none; 
        background-color: #1C2A2C;
        min-height: 30vh;
    }
}
